<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
      <form [formGroup]="updateForm" (ngSubmit)="update()">
        <div class="form-group">
          <label for="username">Username</label>
          <input readonly type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">country is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="jobTimeInMinutes">JobTimeInMinutes</label>
          <input type="number" max="60" formControlName="jobTimeInMinutes" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobTimeInMinutes.errors }" />
          <div *ngIf="submitted && f.jobTimeInMinutes.errors" class="invalid-feedback">
            <div *ngIf="f.jobTimeInMinutes.errors.required">JobTimeInMinutes is required</div>
          </div>
        </div>

        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Update
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      </form>
      <label style="margin-top: 10px;">Most Popular Video</label>
      <youtube-player [videoId]="videoId"> </youtube-player>
      <label style="width: 100%;">Comment</label>
      <textarea style="width: 100%; height: auto" [value]="comment"></textarea>
    </div>
  </div>
</div>
